.container {
  max-width: 920px;
  margin: 20px auto 0;
}

.container h2 {
  margin-bottom: 20px;
}

.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.benefitItem {
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  background: #7f98fe6e;
  justify-content: space-between;
}

.benefitItem h2 {
  margin-bottom: 0;
}

@media (max-width: 920px) {
  .container {
    padding: 0 16px;
  }

  .benefitItem {
    flex: 1 1 45%;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 0 8px;
  }

  .benefits {
    flex-direction: column;
    gap: 10px;
  }

  .benefitItem {
    flex: 1 1 auto;
    gap: 10px;
  }
}
