.container {
  max-width: 1000px;
  margin: 20px auto 0;
}

.container h2 {
  margin-bottom: 20px;
}

.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.benefitItem {
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  background: #7f98fe6e;
  justify-content: space-between;
}
