.result {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  font-family: Roboto;
}

.fontButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 27px;
  background-color: #d1d1ff;
  outline: none;
  border: 1px black solid;
  border-radius: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.inputGroup input {
  max-width: 60%;
}

.container {
  text-align: left;
  padding: 20px;
}

@font-face {
  font-family: Roboto;
  src: url("../../app/fonts/Roboto-Regular.ttf") format("truetype");
}
